body{
    background-image: url('./assets/images/abcd.jpg');
    
    font-family: Verdana, sans-serif;
}

h3{
    color: aliceblue;
    font-size: medium;
}

h2{
    color: aliceblue;
    font-size: medium;
}

.navbar-custom {
    background-color: rgb(37, 37, 37);
    // background-image: linear-gradient(to right, #742483 , #64552c);
}